*
{
    font-family: 'Open Sans', sans-serif;
}



header
{
    background-color: #1a1a1b !important;
    padding-bottom: 3px;
}

.logo
{
    width: 2%;
    height: 1%;
    border-radius: 30px;
    margin-left: 3px;
    margin-top: 2px; 
}

.search-container
{
    background-color: #272729;
    margin-left: 15px;
    margin-top: 5px;
    
}

.search
{
    
    /* border-radius: 4px;
    caret-color: white;
    background: no-repeat;
    color: white;
    padding-left:30px;  */
    background-color: #272729;
    color: white;
    caret-color: white;
}

.user
{
    color:white;
    padding-top: 6px;
    padding-left: 70px;
    font-size: large;
    align-items: center;
    justify-content: center;
}

.fa-plus
{
    color: red;
    padding: auto;

}

.add-post
{
    /* margin-right: 350px; */
    margin: 5px 7px;
}

/* button
{
    background-color: #1a1a1b;
    margin-top: 1px;
    height: 25px;
} */

.btn-dark
{
    margin-left: 20px;
    /* height: 25px;
    width: 25px; */
    font-size: 1rem;
    padding:2px 5px !important;
    background-color: #272729 !important;
    font-size: 1rem !important;
    /* margin-bottom: 10px; */
}

.outer
{
    background-color: #1c262e;
    height: fit-content;

}

.inner
{
    
    color: white;
    width: 1200px !important;

}

.post1
{
    margin-top: 30px;
    background-color: #272729;
    border-color: white !important;
    border-style: solid;
    margin-bottom: 30px;
    border-width: thin;
}

.post2
{
    background-color: #272729;
    border-color: white !important;
    border-style: solid;
    margin-bottom: 20px;
    border-width: thin;
}

.post-image
{
    width: 50%;
    height: 100%;
}

.hr-tag
{
    border-top: 1px solid white;
}

.post-btn
{
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 2px;
}

.post-btn:hover{
    background-color: yellow;
    opacity: 0.2;
}

/* .fa-comment
{
    color: red !important;
} */

label
{
    color: white;
}


.checkbox-container{
    border: 1px solid black;
    width: 200px;
}


