*
{
    font-family: 'Open Sans', sans-serif;
}

#logo
{
    text-align: center;
    position: relative;
    top: 25px;
    
}
#login
{
    text-align: center;
    position:relative;
    top: 50px;
    color: white;
}
button:hover
{
    color:rgb(0, 204, 255);
    background-color: white;
    color: black;
    border: 2px solid green;
}

.middle
{
    /* border: 2px;
    border-color: brown; */
    /* padding-left: 20%; */
    /* background-color: white; */
    background: url(../img/white_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    
}

.bg
{
    background: url(../img/main_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.center
{
    height: 200px;
}

.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}
